*{
    font-family: 'Alef', sans-serif;
}

body{
    overflow: hidden;
}

#wellcome{
    background-color: #2587b8;
    text-align: center;
    color: white;   
    font-weight: bold;
    letter-spacing: 2px;
    
    width: 100%;
    height: 100%;
    position: absolute;
}

#wellcome.wellcome-results{
    position: initial;
 
}
#wellcome h1{
    font-size: 130px;
    margin: 70px auto 0;

       
     transition: all 0.5s ease;
       -webkit-transition:  0.5s linear;
    /*to only change opacity*/
    /*-webkit-transition: opacity 1s linear*/
   -moz-transition:  0.5s linear;
   -o-transition:  0.5s linear;
   transition:  0.5s linear;
}

#wellcome.wellcome-results h1{
    font-size: 50px;
    margin: 30px 0 10px;
}

#wellcome-span {
    display: block;
    width: 150px;
    height: 1px;
    background: #47A5F5;
    margin: 40px auto;
}


.wellcome-results h2{
    font-size: 20px;
    margin: 0;
}

#gmaps {
    width: 450px;
    height: 450px;
}

.wellcome-results #wellcome-span{
    margin: 20px auto;
}

#search-div{
    width: 700px;
    margin: 0 auto;
    height: 50px;
    margin-bottom: 20px;
}

#search-input{
    width: 52%;
    border-radius: 0 4px 4px 0;
    height: 100%;
    border: 0;
    float: right;
    
    font-size: 22px;
    padding-right: 18px;
}

#search-dropdown{
    height: 100%;
    width: 30%;
    float: right;
}

.category-item{
    color: #2587b8;
}
.category-item:hover{
    color: #153140;
}

.open>.dropdown-menu {
    display: block;
    text-align: right;
    font-size: 19px;
    cursor: pointer;
    padding-right: 8px;
    overflow-y: auto;
    height: 250px;
    letter-spacing: 0px;
}

#single-button {
    font-size: 24px;
    background-color: #9dd6f3;
    border-radius: 0;
}

#search-submit{
    background-color: #6bc7f6;
    border-radius: 4px 0 0 4px;
    height: 100%;
    float: right;    
    width: 18%;
    font-size: 24px;
}

.result-panel-right.col-md-8 {
    overflow-y: auto;
    height: 450px;
    padding: 0px 40px;
}

.result-panel-right.col-md-8 div {
    border-bottom: 1px solid black;
}

.full100{
    width: 100%;
    height: 100%;
}

h3.address {
    margin: 0 0 12px;
}

h2.title {
    margin: 10px 0 0;
}

.read-more{
    font-size: 21px;
    color: #2587b8;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
#search-submit .glyphicon {
    top: 7px;
}